[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eoffice"]
	path = eoffice
	url = https://github.com/cran/eoffice
[submodule "microbial"]
	path = microbial
	url = https://github.com/guokai8/microbial
[submodule "o2plsda"]
	path = o2plsda
	url = https://github.com/cran/o2plsda
[submodule "VennDetail"]
	path = VennDetail
	url = https://github.com/guokai8/venndetail
